Twitter_Source.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>549bde04-015c-1000-5691-3d927511e9e1</groupId>
  <name>Twitter Source</name>
  <snippet>
    <connections>
      <id>54a77ca7-015c-1000-0000-000000000000</id>
      <parentGroupId>549bde04-015c-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>549bde04-015c-1000-0000-000000000000</groupId>
        <id>54a74d5b-015c-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>549bde04-015c-1000-0000-000000000000</groupId>
        <id>54a59eff-015c-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>54a8c190-015c-1000-0000-000000000000</id>
      <parentGroupId>549bde04-015c-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>549bde04-015c-1000-0000-000000000000</groupId>
        <id>54a89dfe-015c-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>549bde04-015c-1000-0000-000000000000</groupId>
        <id>54a74d5b-015c-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>54a59eff-015c-1000-0000-000000000000</id>
      <parentGroupId>549bde04-015c-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Twitter Endpoint</key>
            <value>
              <name>Twitter Endpoint</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>
              <name>Consumer Key</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
            <value>
              <name>Consumer Secret</name>
            </value>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>
              <name>Access Token</name>
            </value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
            <value>
              <name>Access Token Secret</name>
            </value>
          </entry>
          <entry>
            <key>Languages</key>
            <value>
              <name>Languages</name>
            </value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
            <value>
              <name>Terms to Filter On</name>
            </value>
          </entry>
          <entry>
            <key>IDs to Follow</key>
            <value>
              <name>IDs to Follow</name>
            </value>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
            <value>
              <name>Locations to Filter On</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Twitter Endpoint</key>
            <value>Filter Endpoint</value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>MHhpvZ064S89BuovdeEEuk5HR</value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>111373911-y3u8NDb2TwEfiysTWPtO9QMmngNAVOjUnfXXeN5O</value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
          </entry>
          <entry>
            <key>Languages</key>
            <value>en</value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
            <value>brexit</value>
          </entry>
          <entry>
            <key>IDs to Follow</key>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetTwitter</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.twitter.GetTwitter</type>
    </processors>
    <processors>
      <id>54a74d5b-015c-1000-0000-000000000000</id>
      <parentGroupId>549bde04-015c-1000-0000-000000000000</parentGroupId>
      <position>
        <x>622.2576599121094</x>
        <y>209.98429489135742</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>100000</value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>50 GB</value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>300 seconds</value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>54a89dfe-015c-1000-0000-000000000000</id>
      <parentGroupId>549bde04-015c-1000-0000-000000000000</parentGroupId>
      <position>
        <x>221.25765991210938</x>
        <y>434.9842948913574</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/tweets/${now():format('yyyy-MMM-dd')}</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#38f2e6</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
  </snippet>
  <timestamp>05/29/2017 15:01:42 UTC</timestamp>
</template>